<p id="notice"><%= notice %></p>

<h1>Funcionarios</h1>

  <hr/>
  <%= render 'formbusca' %>
  <hr/>

<table>
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Cargo</th>
      <th>Data Admissão</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.matricula %></td>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.endereco %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.email %></td>
        <td><%= funcionario.cargo %></td>
        <td><%= funcionario.dtadmissao %></td>
        <td><%= link_to ' ', funcionario , class: "glyphicon glyphicon-blackboard"%></td>
        <td><%= link_to ' ', edit_funcionario_path(funcionario), class: "glyphicon glyphicon-pencil"%></td>
        <td><%= link_to ' ', funcionario, method: :delete, data: { confirm: 'Are you sure?' }, class:"glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcionario', new_funcionario_path %>
<%= will_paginate @funcionarios, previous_label: "Anterior", next_label: "Próxima" %>
<br/>
