<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @livro.codigo %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @livro.titulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @livro.autor.nome %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @livro.editora %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @livro.preco %>
</p>

<%= link_to 'Edit', edit_livro_path(@livro) %> |
<%= link_to 'Back', livros_path %>
